{% extends 'base.html' %}
{% block content %}
  <h1>{% block title %}B-W-D - About{% endblock %}</h1>
  This site collects news from different sources to get a broad view on Putin's war against Ukraine. <br />
  <br />
  This is not a war of Russia against Ukraine. It's a war of Putin against Ukraine. A lot of brave people in Russia also don't want this war against their brothers and sisters in Ukraine. Therefore, it isn't the time to blame any site. It's time to stop the war! NOW!<br />
  <br />
  Brought to you by <a href="https://bitmuncher.omg.lol">Bitmuncher</a>.
{% endblock %}
