{% extends 'base.html' %}
{% block content %}
  <h1>{% block title %}B-W-D{% endblock %}</h1>
  <div class="livecam">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HIPNVm6lNfM" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="DWlive">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/V9KZGs1MtP4" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% endblock %}
