{% extends 'base.html' %}
{% block content %}
<!-- <h1>{% block title %}B-W-D{% endblock %}</h1> -->

<div class="container">
	<div class="livecam">
		<iframe width="500" height="315" src="https://www.youtube-nocookie.com/embed/HIPNVm6lNfM" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="DWlive">
		<iframe width="500" height="315" src="https://www.youtube-nocookie.com/embed/V9KZGs1MtP4" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<div class="infos">

	<div class="newssources">
		<strong>News Sources</strong>
		<ul>
			<li><a href="https://news.ycombinator.com" target="blank">HackerNews</a></li>
			<li><a href="https://news.usni.org" target="blank">USNI News</a></li>
			<li><a href="https://www.aljazeera.com/tag/ukraine-russia-crisis/" target="blank">AlJazeera Ukraine Crisis</a></li>
			<li><a href="https://twitter.com/YourAnonNews" target="blank">Anonymous</a> on Twitter</li>
			<li><a href="https://www.marinetraffic.com/en/ais/home/centerx:-12.0/centery:24.8/zoom:4">AIS</a> - Marine Traffic AIS</li>
			<li><a href="https://www.nti.org">NTI</a> - Nuclear Threat Initiative</li>
		</ul>
	</div>

	<div class="players">
		<strong>LKIP <!-- lesser known important players --></strong>
		<ul>
			<li><a href="https://www.maxar.com">Maxar</a> - Satellite Images</li>
			<li><a href="https://volunteer-planner.org">Volunteer Planner</a> - Refugee Aid</li>
		</ul>
	</div>

	<div class="linklist">
		<strong>Others</strong>
		<ul>
			<li><a href="https://www.satellite.me" target="blank">Satellite.me</a> - Get a german phone number by simply using an app</li>
			<li><a href="https://www.nccgroup.com/us/ti-alert-russia-ukraine-conflict/" target="blank">NCC Alert Page</a> - <a href="https://www.nccgroup.com/media/oqbefypv/ti-alert-russia-ukraine_28022022.pdf">NCC Alert</a></li>
			<li><a href="https://privatebin.ff-sec.eu/" target="blank">Exchange confidential informations the secure way</a></li>
		</ul>
</div>
{% endblock %}
