{% extends 'base.html' %}
{% block content %}
<!-- <h1>{% block title %}B-W-D{% endblock %}</h1> -->

<div class="container">
	<div class="livecam">
		<iframe width="500" height="315" src="https://www.youtube-nocookie.com/embed/HIPNVm6lNfM" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="DWlive">
		<iframe width="500" height="315" src="https://www.youtube-nocookie.com/embed/V9KZGs1MtP4" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>

<div class="infos">
	
	<div class="newssources">
		<strong>News Sources</strong>
		<ul>
			<li><a href="https://news.ycombinator.com" target="_blank">HackerNews</a></li>
			<li><a href="https://news.usni.org" target="_blank">USNI News</a></li>
			<li><a href="https://www.aljazeera.com/tag/ukraine-russia-crisis/" target="_blank">AlJazeera Ukraine Crisis</a></li>
			<li><a href="https://twitter.com/YourAnonNews" target="_blank">Anonymous on Twitter</a></li>
			<li><a href="https://www.marinetraffic.com/en/ais/home/centerx:-12.0/centery:24.8/zoom:4" target="_blank">AIS - Marine Traffic AIS</a></li>
			<li><a href="https://www.nti.org" target="_blank">NTI - Nuclear Threat Initiative</a></li>
			<li><a href="https://twitter.com/Live_Intel" target="_blank">Live Intel (LIAC)</a></li>
			<li><a href="https://twitter.com/Mil_News_Rep" target="_blank">Military News Alerts</a></li>
			<li><a href="https://www.defconlevel.com/news.php" target="_blank">Defcon News</a></li>
			<li><a href="https://www.defconlevel.com" target="_blank">Defcon</a> Level Warning System</li>
		</ul>
	</div>

	<div class="players">
		<strong>LKIP <!-- lesser known important players --></strong>
		<ul>
			<li><a href="https://www.maxar.com" target="_blank">Maxar</a> - Satellite Images</li>
			<li><a href="https://volunteer-planner.org" target="_blank">Volunteer Planner</a> - Refugee Aid Germany</li>
		</ul>
	</div>

	<div class="linklist">
		<strong>Others</strong>
		<ul>
 			<li><a href="https://www.satellite.me" target="_blank">Satellite.me</a> - Get a german phone number by simply using an app</li>
			<li><a href="https://www.nccgroup.com/us/ti-alert-russia-ukraine-conflict/" target="_blank">NCC Alert Page</a> - <a href="https://www.nccgroup.com/media/oqbefypv/ti-alert-russia-ukraine_28022022.pdf" target="_blank">NCC Alert</a></li>
			<li><a href="https://privatebin.ff-sec.eu/" target="_blank">Exchange confidential informations the secure way</a></li>
			<li><a href="https://blog.ff-sec.eu/33155/hacker-s-handbook-to-survive-in-a-war-for-civilians" target="_blank">Hacker's Handbook to survive in a war (for civilians)</a></li>
		</ul>
</div>
{% endblock %}
